body, html {
  margin: 0;
  padding: 0; }

body {
  padding-top: 0;
  font-family: "SegoeUIRegular", sans-serif;
  font-weight: normal;
  font-size: 18px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #323232; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

input {
  outline: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.justify {
  content: '';
  width: 100%;
  height: 0;
  display: inline-block;
  overflow: hidden;
  visibility: hidden;
  line-height: 0; }

.main-container {
  max-width: 940px;
  margin: 0 auto; }
  .main-container::after {
    clear: both;
    content: "";
    display: table; }

.hidden {
  display: none; }

.right-content {
  width: 710px;
  float: right; }

.right-content__header {
  height: 195px;
  padding-left: 59px;
  margin-bottom: 10px;
  padding-top: 54px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/bg_header.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .right-content__header:after {
    content: '';
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: middle; }

.right-content__main-title {
  margin: 0;
  max-width: 324px;
  font-size: 30px;
  line-height: 26px;
  vertical-align: middle;
  font-weight: normal;
  font-family: "ALSSchlangesans-Bold", sans-serif;
  color: #1d4467; }

.left-sidebar {
  width: 213px;
  padding-top: 21px;
  float: left;
  background-color: #fbfbfb; }

.left-sidebar__link {
  display: block;
  padding: 6px 12px;
  font-family: "SegoeUIBold", sans-serif;
  font-size: 13px;
  color: #333333;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  .left-sidebar__link:hover, .left-sidebar__link:active {
    text-decoration: none;
    color: #90c31e;
    background-color: #fff; }

.right-content {
  padding-top: 21px; }

.right-content__par {
  margin: 0;
  margin-bottom: 16px;
  line-height: 24px; }
  .right-content__par.right-content__par--brd {
    padding-bottom: 26px;
    border-bottom: 1px solid #e1ebee; }
  .right-content__par span {
    font-family: "SegoeUISemiBold", sans-serif; }

.right-content__title {
  margin: 0;
  margin: 30px 0;
  font-size: 18px;
  font-family: "SegoeUIBold", sans-serif; }

.right-content__icons::after {
  clear: both;
  content: "";
  display: table; }

.icons__item {
  float: left;
  vertical-align: top;
  width: 33.33%;
  margin-bottom: 35px; }

.icons__item-inner {
  margin-bottom: 34px;
  min-height: 32px;
  height: 40px;
  overflow-y: hidden;
  position: relative; }
  .icons__item-inner::after {
    clear: both;
    content: "";
    display: table; }
  .icons__item-inner.icons__item-inner--work .icons__item-icon {
    background-image: url(../img/sprite.png);
    background-position: -37px -70px;
    width: 30px;
    height: 32px; }
  .icons__item-inner.icons__item-inner--food .icons__item-icon {
    background-image: url(../img/sprite.png);
    background-position: 0px -33px;
    width: 32px;
    height: 32px; }
  .icons__item-inner.icons__item-inner--water .icons__item-icon {
    background-image: url(../img/sprite.png);
    background-position: -79px -37px;
    width: 32px;
    height: 26px; }
  .icons__item-inner.icons__item-inner--tea .icons__item-icon {
    background-image: url(../img/sprite.png);
    background-position: -79px 0px;
    width: 32px;
    height: 32px; }
  .icons__item-inner.icons__item-inner--vit .icons__item-icon {
    background-image: url(../img/sprite.png);
    background-position: 0px -70px;
    width: 32px;
    height: 32px; }
  .icons__item-inner.icons__item-inner--stress .icons__item-icon {
    background-image: url(../img/sprite.png);
    background-position: -116px 0px;
    width: 28px;
    height: 32px; }
  .icons__item-inner.icons__item-inner--smoke .icons__item-icon {
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 37px;
    height: 28px; }
  .icons__item-inner.icons__item-inner--radicals .icons__item-icon {
    background-image: url(../img/sprite.png);
    background-position: -42px 0px;
    width: 32px;
    height: 32px; }

.icons__item-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 10px; }

.icons__item-text {
  display: inline-block;
  vertical-align: middle;
  max-width: 155px;
  font-family: "SegoeUIBold", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -1px; }

.right-content__highlighting {
  padding: 22px 0 22px 28px;
  margin-bottom: 40px;
  border-left: 5px solid #ffd200;
  font-size: 16px;
  line-height: 20px;
  color: #456472;
  font-family: "SegoeUISemiBold", sans-serif;
  font-style: italic;
  background-color: #F8FDFE; }

.par-title {
  margin: 0;
  margin-bottom: 5px;
  font-family: "SegoeUISemiBold", sans-serif;
  font-size: 18px; }

.right-content__selection {
  padding-top: 17px;
  padding-right: 17px;
  padding-bottom: 9px;
  margin-bottom: 30px;
  border: 1px solid #e1ebee; }
  .right-content__selection::after {
    clear: both;
    content: "";
    display: table; }

.right-content__selection-icon {
  float: left;
  margin-left: 23px;
  background-image: url(../img/sprite.png);
  background-position: -72px -70px;
  width: 30px;
  height: 30px; }

.right-content__selection__text {
  margin-left: 72px;
  line-height: 20px; }

.sel-title {
  margin: 0; }

.sel-body {
  margin: 0;
  margin-bottom: 12px; }

.print-wrap {
  text-align: right; }
  .print-wrap .print-button {
    display: inline-block;
    padding-left: 34px;
    line-height: 17px;
    font-size: 15px;
    text-decoration: none;
    color: #323232;
    background: url(../img/icons/ico_print.png) center left no-repeat; }
    .print-wrap .print-button:hover, .print-wrap .print-button:active {
      text-decoration: underline; }

/*# sourceMappingURL=maps/main.css.map */
